@charset "UTF-8";

:root {
    --body-font-size: 1rem;
    --body-line-height: 1.75;
    --body-leading: calc(var(--body-font-size) * var(--body-line-height));

    --h1-font-size: calc(var(--body-font-size) * 3);
    --h1-line-height: 1.16667;
    --h2-font-size: calc(var(--body-font-size) * 2);
    --h2-line-height: 1.25;
    --h2-padding-bottom: 0.25rem;
    --h3-font-size: calc(var(--body-font-size) * 6 / 5);
    --h3-line-height: calc(var(--body-line-height) / (6 / 5));
    --small-font-size: calc(var(--body-font-size) * 6 / 7);
    --small-line-height: 1.458333333;

    --font-body:       450 var(--body-font-size)/var(--body-line-height) "Tsukushi Mincho", serif;
    --font-body-small: 450 var(--small-font-size)/var(--small-line-height) "Tsukushi Mincho", serif;
    --font-h1:         900 var(--h1-font-size)/var(--h1-line-height) "Yuruka", sans-serif;
    --font-h2:         600 var(--h2-font-size)/var(--h2-line-height) "Tsukushi AN B Round Gothic", sans-serif;
    --font-h3:         700 var(--h3-font-size)/var(--h3-line-height) "Tsukushi AN B Round Gothic", sans-serif;
    --font-caption:    300 var(--small-font-size)/var(--small-line-height) var(--font-family-sans);

    --font-family-sans: "Tsukushi Gothic", sans-serif;
    --font-family-mono: "Univers Next Typewriter", "Tsukushi Gothic", monospace;
}

@media (min-width: 48em) {
    :root {
        --body-font-size: 1.06667rem;
        --body-line-height: 1.875;
        --h1-line-height: 1.25;
        --h2-line-height: 1.2890625;
        --h2-padding-bottom: 1.25rem;
        --small-line-height: 1.640625;
    }
}

@media (min-width: 60em) {
    :root {
        --body-font-size: 1.2rem;
        --h2-line-height: 1.25;
        --h2-padding-bottom: 1.5rem;
        --small-line-height: 1.701388889;
        --fullwidth-image-offset: -4rem;
    }
}

@media (min-width: 72em) {
    :root {
        --fullwidth-image-offset: -8rem;
    }
}

@media (min-width: 84em) {
    :root {
        --fullwidth-image-offset: -16rem;
    }
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1em);
    justify-content: center;
    margin: calc(var(--body-leading) * 5) auto calc(var(--body-leading) * 3);
    width: min(40em, 90vw);
    font: var(--font-body);
    font-feature-settings: "chws" 1;
    font-kerning: none;
    line-break: normal;
    overflow-wrap: break-word;
    hanging-punctuation: allow-end;
    background-color: rgb(234, 234, 234);
    -webkit-text-size-adjust: 100%;
}

body > * {
    grid-column: 1 / -1;
}

h1 {
    font: var(--font-h1);
    font-feature-settings: "palt" 1;
    font-kerning: normal;
    margin-top: 0;
    margin-bottom: var(--body-leading);
    text-align: center;
}

h1 .amp {
    font-size: 0.875em;
    line-height: 0;
    margin-left: 0.125em;
    margin-right: 0.125em;
}

h2 {
    font: var(--font-h2);
    box-sizing: border-box;
    font-feature-settings: "palt" 1;
    font-kerning: normal;
    padding-top: var(--h2-padding-top, 0);
    padding-bottom: var(--h2-padding-bottom, 0);
    margin-top: calc(var(--body-leading) * 3);
    margin-bottom: var(--body-leading);
}

h2 code {
    padding: 0;
    background-color: transparent;
    line-height: 0;
}

h3 {
    font: var(--font-h3);
    font-feature-settings: "palt" 1;
    font-kerning: normal;
    margin-top: calc(var(--body-leading) * 2);
    margin-bottom: var(--body-leading);
}

p, ol, ul, .colophon {
    margin-top: var(--body-leading);
    margin-bottom: var(--body-leading);
}

ol, ul {
    padding-left: 2em;
}

figure {
    margin: var(--body-leading) 0;
    text-align: center;
}

figure.full {
    margin-left: var(--fullwidth-image-offset, 0);
    margin-right: var(--fullwidth-image-offset, 0);
}

pre {
    overflow: scroll;
    padding: calc(var(--body-leading) - 0.5rem) 2rem;
    margin-top: calc(var(--body-leading) + 0.5rem);
    margin-bottom: calc(var(--body-leading) + 0.5rem);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.5em;
}

code,
samp,
kbd,
var {
    font-family: var(--font-family-mono);
    font-size: 1em;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25em;
    padding: 0.25em 0.25em 0.125em;
    margin-left: 0.125em;
    margin-right: 0.125em;
}

var {
    font-style: normal;
}

pre :is(code, kbd, samp, var) {
    background-color: transparent;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

:is(code, kbd, samp) :is(em, b, strong) {
    font-weight: 600;
}

em, b, strong {
    font-family: var(--font-family-sans);
    font-weight: 600;
}

em {
    font-style: normal;
}

sub,
sup {
  font-size: var(--small-font-size);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a {
    color: #196ba7;
    text-underline-offset: 0.125em;
}

a[href^="#fn-"],
a[href^="#fnref-"] {
    font-family: var(--font-family-sans);
}

a[href^="#fn-"] {
    padding: 0 0.25em;
    text-decoration: none;
}

a[href^="#fnref-"] {
    text-decoration: none;
}

small {
    font-size: 87.5%;
}

img,
video {
    max-width: 100%;
}

table {
    font: var(--font-caption);
    border-collapse: collapse;
    margin-top: var(--body-leading);
    margin-bottom: calc(var(--body-leading) + 0.5rem);
}

th, td {
    box-shadow: 0 1px rgba(0, 0, 0, 0.12);
    padding: 0.5em;
}

td {
    text-align: center;
}

th {
    font-weight: inherit;
}

tbody th {
    font-weight: normal;
    text-align: left;
}

table .no {
    color: rgb(153, 0, 0);
}

table .yes {
    color: rgb(0, 128, 0);
}

.author {
    display: block;
    text-align: center;
    margin-bottom: calc(var(--body-leading) * 2);
}

.footnotes,
[role="contentinfo"] {
    box-shadow: 0 -1px rgba(0, 0, 0, 0.12);
    margin-top: calc(var(--body-leading) * 2);
    padding-top: calc(var(--body-leading) * 2);
}

.footnotes {
    font: var(--font-caption);
}

.footnotes ol {
    margin-top: 0;
    margin-bottom: 0;
}

.credit {
    font: var(--font-body-small);
    margin-top: 0;
    margin-bottom: 0;
}

.colophon {
    margin-left: 2em;
    margin-top: calc(var(--small-font-size) * var(--small-line-height));
    margin-bottom: 0;
}

.colophon td,
.colophon th {
    box-shadow: none;
    vertical-align: baseline;
}

.colophon td {
    padding: 0 0 0 1em;
    text-align: left;
}

.colophon th {
    padding: 0;
    text-align: right;
}

:target {
    animation: target-fade 1s;
    scroll-margin-top: var(--body-leading);
}

@keyframes target-fade {
    0% { background-color: rgba(255, 255, 0, 1); }
    1000% { background-color: rgba(0, 0, 0, 0); }
}
